
<app-admin-dashboard-header></app-admin-dashboard-header>
<!-- Main content -->
<div class="main main-content admin-dashboard" id="panel">

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Users</h6>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a (click)="commonService.logout()" class="btn btn-neutral my-4">Logout</a>
            <!-- <button  >Open Modal</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div style=" display: flex; ">
          <div class="card-header border-0" style=" padding-right: 686px; ">
            <h3 class="mb-0">OTP Users</h3>
          </div>
          <!-- <div class="card-header border-0" (click)="getArchiveUsers()">
            <a *ngIf="!archive" class="btn btn-sm btn-primary" style=" color: aliceblue;">Show archive data</a>
            <a *ngIf="archive" class="btn btn-sm btn-primary" style=" color: aliceblue;">Show data</a>
          </div> -->
        </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                 <th scope="col" class="sort" data-sort="name">Created At</th>
                  <th scope="col" class="sort" data-sort="name">Phone No.</th>
                  <th scope="col" class="sort" data-sort="budget">OTP</th>
                  <th scope="col" class="sort" data-sort="status">Enter Master OTP</th>
                
                 
                  <!-- <th scope="col" class="sort" data-sort="completion"  *ngIf="!archive">Archive</th>
                  <th scope="col" class="sort" data-sort="completion"  *ngIf="archive">Undo</th> -->
                </tr>
              </thead>
              <tbody class="list">
                <tr *ngFor="let item of userList">   
                 <td> {{item?.createdAt | date}}  </td>           
                  <td class="budget">
                    {{item?.phoneNumber}}
                  </td>
                  <td>
                    {{item?.OTP}}
                  </td>
                  <td>
                    <input class="form-control w-50" id="{{item._id}}" type="text" value={{item.masterOTP}}  (change)="setMasterOTP(item._id,$event,item.OTP)" >
                  </td>
                 
                  
                  <!-- <td>
                    <span (click)="deletePost(item?._id)" class="badge badge-danger" style=" cursor: pointer; " *ngIf="!archive">Archive</span>
                    <span (click)="deletePost(item?._id)" class="badge badge-danger" style=" cursor: pointer; " *ngIf="archive">Undo</span>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
   
        </div>
                  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link" aria-label="Previous" (click)="previousPage()">
        <span aria-hidden="true" >&laquo;</span>
      </a>
    </li>
    <li class="page-item text-white mt-2">
        {{currentPage}} of {{totalPage}}
    </li>
 
     <li class="page-item">
      <a class="page-link" aria-label="Next" (click)="nextPage()">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
