<app-user-header></app-user-header>
<div class="main-content" id="panel">
   <!-- Content
      ============================================= -->
   <section class="bg-brown section-area benefit-page bg-left-design bg-design" id="content">
      <div class="container container-80">
         <div class="brown-title">
            <h1>Benefits</h1>
         </div>
         <!-- swiper slider -->
         <div class="row">
            <div class="col-lg-12">
               <div class="swiper-container">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="benefit">
                          <h5>Digital seal that can be used on your promotional material as well as product packaging.</h5>
                          <ul style="justify-content: space-evenly; display: flex;">
                             <li><img src="./assets/images/product-of-the-year-2022.png"></li>
                             <li><img src="./assets/images/product-launch-of-the-year-2022.png"></li>
                             <li><img src="./assets/images/brand-of-the-year-2022.png"></li>
                          </ul>
                       </div>
                     </div>

                     <div class="swiper-slide">
                       <div class="benefit">
                          <div class="border2px">
                             <h5>Certificates of Excellence</h5>
                             <div> <img src="./assets/images/certificate-excellence-2021.png" style="max-height: 150px"></div>
                            
                          </div>
                        </div>
                    </div>

                     <div class="swiper-slide">
                        <div class="benefit">
                           <h5>Be a part of the coffee table book to be shared with top 1000 online and offline FMCG retailers.</h5>
                           <div class="coffee"><img src="./assets/images/benefit-coffeebook.jpg" alt=""></div>
                        </div>
                     </div>
                     <!-- <div class="swiper-slide">
                        <div class="benefit">
                           <h5>Extensive coverage of the event to be done on online and offline media.</h5>
                           <div class="repeatgrid"><img src="./assets/images/bg-design-horizontal.png" alt="trophy"></div>
                        </div>
                     </div> -->
                     <!-- <div class="swiper-slide">
                        <div class="benefit">
                           <h5>Over a million voters are expected to come and vote for different categories.</h5>
                           <div class="brooch">

                              <img src="./assets/images/benefit-brooch.png" alt="brooch">
                              <img src="./assets/images/benefit-brooch.png" alt="brooch">
                              <img src="./assets/images/benefit-brooch.png" alt="brooch">
                           </div>
                        </div>
                     </div> -->
                  </div>
                  <!-- Add Pagination -->
                  <div class="swiper-pagination"></div>
                  <!-- Add Arrows -->
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
               </div>
            </div>
         </div>
         <!-- slider end here -->
         <div class="row mt-5">
            <div class="col-md-12 col-lg-12">
               <div class="extra-benefits banner-bg-effect">
                  <h1><ul class="benefit-seals-ul">
                     <li><img src="./assets/images/product-of-the-year-2022.png"></li>
                     <li><img src="./assets/images/product-launch-of-the-year-2022.png"></li>
                     <li><img src="./assets/images/brand-of-the-year-2022.png"></li>
                  </ul></h1>
                  <p>Channelier FMCG Awards’22 Seal recognizes individuals and organizations for their extraordinary contribution in the FMCG sector over the past year. It will be awarded to all the participating organizations and can be used as marketing collateral as well as for product packaging for the coming year.</p>
                  <div class="text-right w-100">
                     <a href="https://awards.channelier.com/" class="brown-btn hvr-shutter-out-vertical" target="_blank">Visit</a>
                  </div>
               </div>
            </div>
            <div class="col-md-12 col-lg-12">
               <div class="extra-benefits banner-bg-effect">
                  <h1><img src="./assets/images/food-drink-industry.png" alt="icon-1" style="margin-left: -5px;"></h1>
                  <p>Food & Drink Industry Magazine is a B2B monthly magazine. It features news, information, and more content on the newest industry trends and updates. The magazine provides a platform for all small & large business FMCG businesses to market themselves on a nation-wide distributed platform. </p>
                  <p><strong>Nomination with Channelier FMCG Awards gives you an opportunity to advertise your brand on the official website and offering a discount of up to 40% on its services.</strong></p>
                  <div class="text-right w-100">
                     <a href="https://www.ifttrade.com/" class="brown-btn hvr-shutter-out-vertical" target="_blank">Visit</a>
                  </div>
               </div>
            </div>
            <div class="col-md-12 col-lg-12">
               <div class="extra-benefits banner-bg-effect">
                  <h1><img src="./assets/images/channelier.png" alt="icon-1" style="margin-left: -3px;margin-bottom:-15px;"></h1>
                  <p> Channelier is a tech platform based solution for sales force automation and supply chain management. It offers an Distribution Management System solution with catalog based ordering, inventory management, price control and multi-level communication. Channelier monitors and optimizes the on-ground sales operations daily. </p>
                  <p><strong>For each successful nomination, Channelier is offering a credit line up to 1000 USD to each organization, to experience the services provided by Channelier to its clients. 
                     </strong>
                  </p>
                  <div class="text-right w-100">
                     <a href="https://www.channelier.com/" class="brown-btn hvr-shutter-out-vertical" target="_blank">Visit</a>
                  </div>
               </div>
            </div>
            <div class="col-md-12 col-lg-12">
               <div class="extra-benefits banner-bg-effect">
                  <h1><img src="./assets/images/zimyo.png" alt="icon-3" ></h1>
                  <p> Zimyo is an employee experience platform that empowers organizations to manage and retain talent. Zimyo HRM’s is an easy to use HR SaaS solution for startups, small and medium businesses, and enterprises that ensure secure and easy management of HR activities for your organization. </p>
                  <p><strong>Zimyo is offering free credits of worth 1000 USD to all the nominees for Channelier FMCG Awards. </strong></p>
                  <div class="text-right w-100">
                     <a href="https://www.zimyo.com/" class="brown-btn hvr-shutter-out-vertical" target="_blank">Visit</a>
                  </div>
               </div>
            </div>
            <div class="col-md-12 col-lg-12">
               <div class="extra-benefits banner-bg-effect">
                  <h1><img src="./assets/images/xoxocompass.png" alt="icon-1" style="margin-left: -4px;"></h1>
                  <p>Xoxoday is all-in-one engagement and motivation platform that has been empowering organizations across the globe to improve business efficiency, productivity, performance while optimizing costs in employees, sales, channels, and consumer engagement. Xoxoday’s platform Compass enables organizations to gamify incentives to effectively engage their channel managers and establish effective communications with their channel partners. </p>
                  <p><strong>Xoxoday is offering credits worth 1000 USD on Compass to all the nominees for Channelier FMCG Awards 2020.</strong></p>
                  <div class="text-right w-100">
                     <a href="https://www.xoxoday.com/" class="brown-btn hvr-shutter-out-vertical" target="_blank">Visit</a>
                  </div>
               </div>
            </div>
            <div class="col-md-12 col-lg-12">
               <div class="extra-benefits banner-bg-effect">
                  <h1><img src="./assets/images/crisptag_logo.png" alt="icon-1"></h1>
                  <p>Crisptag Marketplace is a one stop shop for all software that a business needs. It has partnered with software giants (Microsoft, Google, Zoho, SurveySparrowetc.) as well as startups (Zimyo, Qandle, Jewelbook etc.) to give businesses the best discounts on the software purchases on its marketplace.</p>
                  <p><strong>Crisptag has partnered with Channelier FMCG Awards to give you a coupon worth ₹10,000 that can be redeemed for the Silver and the Gold membership at its platform to get up to 20% off on the business software you need for your organisation.</strong></p>
                  <div class="text-right w-100">
                     <a href="https://saas.crisptag.com/" class="brown-btn hvr-shutter-out-vertical" target="_blank">Visit</a>
                  </div>
               </div>
            </div>
            <div class="col-md-12 col-lg-12">
               <div class="extra-benefits banner-bg-effect">
                  <h1><img src="./assets/images/bizex.png" alt="icon-1"></h1>
                  <p>Bizex HRMS, which crafted to handle all the operational needs of the HR department, starting from onboarding to full & final settlement.Bizex is an HR Software developed to assist a multitude of teams, big small, across various industries in India. Its user-friendly web & mobile interface helps in faster implementation and adoption across all levels of the organizations.</p>
                  <p><strong>Bizex is offering ₹ 10,000 worth of free subscriptions to our nominees.</strong></p>
                  <div class="text-right w-100">
                     <a href="https://bizex.co.in/" class="brown-btn hvr-shutter-out-vertical" target="_blank">Visit</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>
<app-footer></app-footer>