  <footer id="footer" class="">
     <div class="container">
        <!-- Footer Widgets
           ============================================= -->
        <div class="footer-widgets-wrap clearfix">
           <div class="row clearfix">
            <div class="col-lg-6 col-md-6">
               <h3 class="d-inline-flex mb-4">Get in touch</h3>
               <div id="contact-success"></div>
               <form action="#" class="footer-form" name="contact" id="contact" method="post">
                  <div class="form-group">
                        <div class="form-group">
                           <label for="username">Name</label>
                           <input type="text" class="form-control" name="userName" id="userName" required>
                        </div>
                        <div class="form-group">
                           <label for="useremail">Email</label>
                           <input type="email" class="form-control" name="userEmail" id="userEmail" required>
                        </div>
                  </div>
                  <div class="form-group">
                     <label for="query"> Message</label>
                     <textarea class="form-control" name="query"  id="query" rows="3" required></textarea>
                  </div>
                  <!-- <div class="form-group form-check">
                     <label class="form-check-label">
                     <input class="form-check-input" type="checkbox"> Remember me
                     </label>
                     </div> -->
                  <div class="w-100 text-right"><div class="brown-btn hvr-shutter-out-vertical"><input type="submit" class="bg-transparent border-0" value="Submit"></div></div>
               </form>
            </div>
              <div class="col-lg-3 col-md-3">
                 <div class="widget clearfix">
                    <h3 class="d-inline-flex mb-4">Who we are</h3>
                    <img src="./assets/images/logo-channelier.png" alt="Logo" style="display: block; margin-bottom: 10px;">
                    <p class="text-white">Channelier is India's First Distribution Management Platform on Cloud that offers a unified business suite to manage the entire distribution network With features like Smart Ordering, Partner Classification, Salesman integration and many more, Channelier offers a one stop solution for every sales and distribution need.</p>
                    <div class="w-100">
                       <h3 class="d-inline-flex mb-4">Follow us</h3>
                    </div>
                    <div class="follow-icons">
                       <a href="https://www.facebook.com/channelier/" target="_blank" class="social-icon si-small si-borderless si-colored si-rounded si-facebook">
                       <i class="icon-facebook"></i>
                       <i class="icon-facebook"></i>
                       </a>
                       <a href="https://twitter.com/Channelier"  target="_blank"  class="social-icon si-small si-borderless si-colored si-rounded si-twitter">
                       <i class="icon-twitter"></i>
                       <i class="icon-twitter"></i>
                       </a>
                       <a href="https://www.instagram.com/channelier_/"  target="_blank"  class="social-icon si-small si-borderless si-colored si-rounded si-gplus">
                       <i class="icon-instagram"></i>
                       <i class="icon-instagram"></i>
                       </a>
                       <a href="https://www.linkedin.com/company/channelier/"  target="_blank"  class="social-icon si-small si-borderless si-colored si-rounded si-pinterest">
                       <i class="icon-linkedin"></i>
                       <i class="icon-linkedin"></i>
                       </a>
                    </div>
                 </div>
              </div>
              <div class="col-lg-3 col-md-3 info">
                 <h3 class="d-inline-flex mb-4 ">Our Address</h3>
                 <h4 class="t400 text-white">#28, JSSATE-STEP, <br>
                  C-20/1, Sector 62, Noida <br>
                  Uttar Pradesh <br>
                  India - 201 309
                 </h4>
                 <h4 class="mb-2 text-white"><a href="tel:8882957186;" class="text-white">+91 8882957186 </a></h4>
                 <h4 class="mb-2 text-white"><a href="tel:7290099727;" class="text-white">+91 7290099727 </a></h4>
                 <h4 class="mb-2 "><a class="text-white" href="mailto:awards@channelier.com;">awards@channelier.com</a></h4>
              </div>
           </div>
        </div>
     </div>
     <!-- Copyrights
        ============================================= -->
     <div id="copyrights" class="nobg notoppadding">
        <div class="container clearfix">
           <div class="col_half text-white">
              Copyrights &copy; 2020 All Rights Reserved by Arachnomesh Technologies.<br>
              <div class="copyright-links"><a class="text-white" href="terms-use.html">Terms of Use</a> / <a class="text-white" href="privacy-policy.html">Privacy Policy</a></div>
           </div>
        </div>
     </div>
     <!-- #copyrights end -->
  </footer>