<header id="header" class="clearfix static-sticky responsive-sticky-header transparent-header dark">
    <div id="header-wrap">
       <div class="container clearfix">
          <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
          <!-- Logo
             ============================================= -->
          <div id="logo">
             <a [href]="home"  data-scrollto="#slider" class="standard-logo" data-dark-logo="assets/images/logo-channelier.png"><img src="assets/images/logo-channelier.png" alt="Logo"></a>
             <a [href]="home"  data-scrollto="#slider" class="retina-logo" data-dark-logo="assets/images/logo-channelier.png"><img src="assets/images/logo-channelier.png" alt="Logo"></a>
          </div>
          <!-- #logo end -->
          <!-- Primary Navigation
             ============================================= -->
          <nav id="primary-menu" class="d-lg-flex d-xl-flex align-items-center justify-content-xl-between justify-content-lg-between fnone">
             <ul class="not-dark align-self-start"></ul>
             <ul class="not-dark align-self-center one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="160">
              
             </ul>
             <ul class="pr-0 header-button" style="margin: -15px;">
                <li>
                  <a [href]="home">
                     <img src="assets/images/home-icon.png" class="pt-3">
                  </a>
                </li>
             </ul>
          </nav>
          <!-- #primary-menu end -->
       </div>
    </div>
 </header>
